body {
  font-family: 'Courier New', Courier, monospace;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

h1 {
  font-family: 'Permanent Marker', cursive;
}

h3 {
  font-family: 'Permanent Marker', cursive;
}

.instructions {
  width: 75%;
}
